.footer-wrapper{
    display: flex;
    color: white;
    justify-self:  center;
    width: 57.6%;
    justify-content: center;
    margin-top: 20px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);

    @media(max-width:1200px){
        width: 90%;
        margin-top: 0px;
    }
    .footer-content{
        width: 100%;
        font-size: 17px;
        display: grid;
        grid-template-columns: 2fr 2fr 2fr;
        justify-content: space-between;
        border-top-left-radius: 5px;
        align-items: center;
        border-top-right-radius: 5px;
        background-color: rgb(121, 0, 186);
        justify-content: center;
        text-align: center;

        .text{
            .dev{
                margin-top: 10px;
                font-size: 12px;
                opacity: .85;

                a{
                    &:visited{
                        color: rgb(0, 170, 255);
                    }
                }
            }
        }
    }

    .footer-img{

        &#img1{
            max-height: 100px;
            margin-left: 10%;
        }

        &#img1-mobile{
            max-height: 100px;
            max-width: 100px;
            display: none;
        }

        &#img2{
            padding: 5px;
            height: 50px;
            width: 50px;
        }
        &#img3{
            border-radius: 50px;
            padding: 5px;
            height: 50px;
            width: 50px;
        }
        &#img3-mobile{
            display: none;
        }
    }

    @media(max-width:650px){
        .footer-content{
            display: flex;
            flex-direction: row-reverse;
        }

        #img1{
            display: none;
        }
        
        #img2{
            margin-right: 15px;
        }

        #img3{
            display: none;
        }

        #img3-mobile{
            margin-left: 15px;
            display: block!important;
            border-radius: 50px;
            padding: 5px;
            height: 50px;
            width: 50px;
        }
        
        .text{
            margin-top: 15px;
            margin-bottom: 15px;
            font-size: 15px;
        }

        .footer-img{
            width: 50px;
        }
    }
}